<link rel="stylesheet" href="__STATIC__/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="box-header with-border">
                    <h3 class="box-title">发送新邮件</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        <input id="email_address" type="text" name="email_address" class="form-control" placeholder="收信人:多个地址请用英文逗号隔开">
                    </div>
                    <div class="form-group">
                        <input id="email_subject" type="text" maxlength="200" name="email_subject" class="form-control" placeholder="主题:">
                    </div>
                    <div class="form-group">
                    <textarea id="email_content" name="email_content" class="form-control" style="height: 300px" placeholder="邮件正文">
                    </textarea>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-default btn-file">
                            <i class="fa fa-paperclip"></i> 附件
                            <input type="file" id="email_attachment" name="email_attachment" accept="image/jpeg,image/png,image/gif,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                        </div>
                        <p class="help-block">最大不超过2MB</p>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> 保存草稿</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> 发送</button>
                    </div>
                    <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> 清空</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>

        <!-- /. box -->
    </div>
    <!-- /.col -->
</div>

<script src="__STATIC__/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="__STATIC__/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
<!-- Page Script -->
<script>
    $(function () {
        //Add text editor
        $("#email_content").wysihtml5({locale: "zh-CN"});
    });


</script>