{if $showDataHeader}
<div class="box-header">
    {if $showDataHeaderDeleteButton}
    <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-danger btn-sm" title="批量删除数据，请谨慎使用此功能"
            onclick="dels()">
        删除
    </button>
    {/if}
    {if $showDataHeaderAddButton}
    <div class="pull-right">
        <a href="add.html" class="btn btn-sm btn-default pull-right button-add-data">
            <i class="fa fa-plus"></i>
            新增
        </a>
    </div>
    <!--<script src="__STATIC__/plugins/layer/layer.js"></script>
    <script>
        $(function(){
            $(".button-add-data").click(function () {
                layer.open({
                    type: 2,
                    area: ['80%', '80%'],
                    fixed: false, //不固定
                    minmax: false,
                    closeBtn: 2,
                    title: '添加数据',
                    content: 'add.html'
                });
            });
        });
    </script>-->
    {/if}
</div>
{/if}
