/** 表单验证错误 **/
.dataForm .error {
    color: #ff0000;
    border-color: #dd4b39;
}

/** 列表页排序select **/
.index-order {
    min-width: 100px;
}

/** 表单页保存 **/
.dataFormSubmit {
    margin-right: 20px;
}

/** 表单页重置 **/
.dataFormReset {
    margin-left: 20px;
}

/** 继续添加 **/
.createContinue, .bodyFormCheckbox {
    margin-top: 5px;
}

/** 列表页缩略图 **/
.dataListImg {
    max-width: 40px;
    max-height: 40px;
}

/*列表页日期范围搜索*/
.indexSearchDateRange{
    min-width: 160px;
}

/*列表页日期时间范围搜索*/
.indexSearchDatetimeRange{
    min-width: 260px;
}