/* 皮肤css样式文件 */
/*.skin-blue*/
.skin-blue .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #3c8dbc;
}

.skin-blue .form-control:focus {
  border: 1px solid #3c8dbc;
}

.skin-blue .box {
  border-top: 3px solid #3c8dbc;
}

/*skin-black*/
.skin-black .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #222d32;
}

.skin-black .form-control:focus {
  border: 1px solid #222d32;
}

.skin-black .box {
  border-top: 3px solid #222d32;
}

/*skin-purple*/
.skin-purple .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #605ca8;
}

.skin-purple .form-control:focus {
  border: 1px solid #605ca8;
}

.skin-purple .box {
  border-top: 3px solid #605ca8;
}

/*skin-green*/
.skin-green .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #00a65a;
}

.skin-green .form-control:focus {
  border: 1px solid #00a65a;
}

.skin-green .box {
  border-top: 3px solid #00a65a;
}

/*skin-red*/
.skin-red .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #dd4b39;
}

.skin-red .form-control:focus {
  border: 1px solid #dd4b39;
}

.skin-red .box {
  border-top: 3px solid #dd4b39;
}

/*skin-yellow*/
.skin-yellow .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #f39c12;
}

.skin-yellow .form-control:focus {
  border: 1px solid #f39c12;
}

.skin-yellow .box {
  border-top: 3px solid #f39c12;
}

/*skin-blue*/
.skin-blue-light .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #3c8dbc;
}

.skin-blue-light .form-control:focus {
  border: 1px solid #3c8dbc;
}

.skin-blue-light .box {
  border-top: 3px solid #3c8dbc;
}

/*skin-black*/
.skin-black-light .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #222d32;
}

.skin-black-light .form-control:focus {
  border: 1px solid #222d32;
}

.skin-black-light .box {
  border-top: 3px solid #222d32;
}


/*skin-purple*/
.skin-purple-light .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #605ca8;
}

.skin-purple-light .form-control:focus {
  border: 1px solid #605ca8;
}

.skin-purple-light .box {
  border-top: 3px solid #605ca8;
}

/*skin-green*/
.skin-green-light .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #00a65a;
}

.skin-green-light .form-control:focus {
  border: 1px solid #00a65a;
}

.skin-green-light .box {
  border-top: 3px solid #00a65a;
}

/*skin-red*/
.skin-red-light .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #dd4b39;
}

.skin-red-light .form-control:focus {
  border: 1px solid #dd4b39;
}

.skin-red-light .box {
  border-top: 3px solid #dd4b39;
}

/*skin-yellow*/
.skin-yellow-light .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #f39c12;
}

.skin-yellow-light .form-control:focus {
  border: 1px solid #f39c12;
}

.skin-yellow-light .box {
  border-top: 3px solid #f39c12;
}