APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/ShanghaiHOST = https://wwww.bearadmin.comAPP_KEY = f2244f5316b70ef2887514b65caf795f[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = bear_adminUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[CACHE]DRIVER = file[REDIS]REDIS_HOST = 127.0.0.1REDIS_PORT = 6379REDIS_PASSWORD =REDIS_SELECT = 0[LANG]default_lang = zh-cn[FILESYSTEM]driver=public[API]http_code_sync = falseallow_cross_domain = truejwt_key = f2244f5316b70ef2887514b65caf795fjwt_exp = 3600enable_refresh_token = truerefresh_token_exp = 1296000reuse_check = truejwt_iss = sjwt_aud = atoken_position = headertoken_field = token