APP_DEBUG=true[APP]DEFAULT_TIMEZONE=Asia/ShanghaiHOST=https://wwww.bearadmin.comAPP_KEY=[DATABASE]TYPE=mysqlHOSTNAME=127.0.0.1DATABASE=bear_adminUSERNAME=rootPASSWORD=rootHOSTPORT=3306CHARSET=utf8mb4DEBUG=true[CACHE]DRIVER=file[REDIS]REDIS_HOST=127.0.0.1REDIS_PORT=6379REDIS_PASSWORD=REDIS_SELECT=0[LANG]default_lang=zh-cn[FILESYSTEM]driver=public[API]HTTP_CODE_SYNC=trueALLOW_CROSS_DOMAIN=trueJWT_KEY=JWT_EXP=3600ENABLE_REFRESH_TOKEN=trueREFRESH_TOKEN_EXP=1296000REUSE_CHECK=trueJWT_ISS=sJWT_AUD=aTOKEN_POSITION=headerTOKEN_FIELD=token