<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>萌萌哒的捐赠</h3>骚年，用支付宝，微信，或者QQ扫一扫试试，觉得不错就打赏我一分钱吧。o(∩_∩)o
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <div class="content body">
                    <section id="introduction" style="text-align: center">
                      <img src="{$reward_qrcode}">
                    </section><!-- /#introduction -->
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>