<!--头部css-->
{css href="__ADMIN_PLUGINS__/bootstrap/css/bootstrap.min.css" /}
{js href="__ADMIN_PLUGINS__/bootstrap-switch/css/bootstrap-switch.min.css" /}
{css href="__ADMIN_PLUGINS__/font-awesome/css/font-awesome.min.css" /}
{css href="__ADMIN_PLUGINS__/iconpicker/css/iconpicker.min.css" /}
{css href="__ADMIN_PLUGINS__/select2/css/select2.min.css" /}
{css href="__ADMIN_PLUGINS__/fileinput/css/fileinput.min.css" /}
{css href="__ADMIN_PLUGINS__/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" /}
{css href="__ADMIN_CSS__/AdminLTE.min.css" /}
{css href="__ADMIN_CSS__/admin.css" /}
{css href="__ADMIN_CSS__/skins.min.css" /}
{css href="__ADMIN_PLUGINS__/viewer/viewer.min.css" /}
{css href="__ADMIN_PLUGINS__/nprogress/nprogress.css" /}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->