<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">修改角色</h3>
            </div>
            <form role="form" action="" method="post">
                <div class="box-body">
                    <div class="form-group" style="display: none">
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" readonly value="{$info['id']}" class="form-control"
                               placeholder="自动读取，请勿改动">
                    </div>
                    <div class="form-group">
                        <label for="title">角色名</label>
                        <input type="text" name="title" id="title" value="{$info.title}" class="form-control"
                               placeholder="请输入角色名">
                    </div>

                    <div class="form-group">
                        <label for="description">角色描述</label>
                        <input type="text" name="description" id="description" value="{$info.description}" class="form-control"
                               placeholder="请输入角色描述">
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="status_1" value="1"
                                       {eq name="$info.status" value="1" } checked="" {/eq} >
                                启用
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="status_0" value="0"
                                       {eq name="$info.status" value="0" } checked="" {/eq} >
                                禁用
                            </label>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->

                {include file="template/action_footer" /}
            </form>
        </div>
    </div>
</div>