<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->

    <!-- 顶部左侧导航 -->
    {include file='public/navbar/nav' /}

    <!-- 顶部搜索框 -->
    {include file='public/navbar/search_form' /}

    <ul class="navbar-nav ml-auto">

        <!-- 顶部消息 -->
        {include file='public/navbar/message' /}

        <!-- 顶部通知 -->
        {include file='public/navbar/notification' /}

        <!-- 用户菜单 -->
        {include file='public/navbar/user_menu' /}

        <!-- 边栏控制按钮 -->
        {include file='public/navbar/sidebar_button' /}
    </ul>
</nav>