<li class="nav-item">
    <a class="nav-link ReloadButton" role="button"  data-toggle="tooltip" data-title="刷新当前页面">
        <i class="fas fa-sync"></i>
    </a>
</li>


<li class="nav-item">
    <a class="nav-link FullScreenButton" role="button"  data-toggle="tooltip" data-title="全屏">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>

    <a class="nav-link ExitFullScreenButton" data-toggle="tooltip" role="button" data-title="退出全屏" style="display: none">
        <i class="fas fa-compress-arrows-alt"></i>
    </a>
</li>

<li class="nav-item dropdown user-menu">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
        <img src="{$admin.user.avatar|default='__ADMIN_IMAGES__/avatar.png'}" class="user-image img-circle elevation-2" alt="头像">
        <span class="d-none d-md-inline">{$admin.user.nickname|default=''}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <!-- User image -->
        <li class="user-header bg-primary">
            <img src="{$admin.user.avatar|default='__ADMIN_IMAGES__/avatar.png'}" class="img-circle elevation-2" alt="头像">
            <p>
                {$admin.user.nickname|default=''}
                <small>{$admin.user.username|default=''}</small>
            </p>
        </li>
        <li class="user-footer">
            <a href="{:url('admin/adminUser/profile')}" class="btn btn-default btn-flat">个人资料</a>
            <a href="#" onclick="logout()" class="btn btn-default btn-flat float-right">退  出</a>
        </li>
    </ul>
</li>