<style>
    #dataBody th, #dataBody td {
        min-width: 60px;
    }

    td label {
        font-weight: normal;
    }

    .box-header .select2 {
        min-width: 130px;
    }

    .form-type-th {
        min-width: 150px;
    }

    .form-validate-th {
        min-width: 200px;
    }

    .form-validate-label, .form-validate-select, .form-type-label, .form-type-select {
        width: 100%;
    }

    .relation-div{
        min-width: 260px;
    }


    #dataList .min-width-105{
        min-width: 105px
    }

    #dataList .min-width-125{
        min-width: 125px
    }

    #dataList .min-width-155{
        min-width: 155px
    }

    #dataList .min-width-250{
        min-width: 250px
    }

    #dataList .min-width-255{
        min-width: 255px
    }

    #dataBody td{
        padding: 5px;
    }

    .form-inline .relation-input{
        width: 110px;
        display: none;
    }
    .is-create{
        min-width: 90px;
    }
    .min-width-400 {
        min-width: 540px;
    }


    .min-width-560 {
        min-width: 560px;
    }


    .form-inline .form-group {
        margin-right: 5px;
    }

    .extend-div {
        display: none;
        position: absolute;
        z-index: 2;
    }

    .field-type{
        background: #ECECEC;
    }

    #model_relation .form-group {
        margin-bottom: 10px;
    }

    .more-setting .extend-div {
        width: 700px;
        margin-right: 0;
        margin-left: -630px;
    }

    .more-setting .more-from {
        margin-bottom: 20px;
    }

    .modelRelationDiv .form-group .form-control {
        margin-right: 20px;
    }




    .width-160{
        width: 160px;
    }


    .width-150{
        width: 150px;
    }

    /* 代码生成 表选择*/
    .selectTable {
        min-width: 150px
    }

    /* 代码生成 icon选择*/
    .iconOption {
        min-width: 120px
    }


</style>