<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{$admin.title|default='ADMIN'}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="{:url('admin/index/index')}">
                            <i class="fas fa-home"></i>
                            首页
                        </a>
                    </li>
                    {$admin.breadcrumb|raw|default=''}
                </ol>
            </div>
        </div>
    </div>
</section>