<!-- 头部css -->
<!-- 图片预览css -->
{css href="__ADMIN_PLUGINS__/viewer/viewer.min.css" /}
{css href="__ADMIN_PLUGINS__/nprogress/nprogress.css" /}
{css href="__ADMIN_PLUGINS__/select2/css/select2.min.css" /}
{css href="__ADMIN_PLUGINS__/fileinput/css/fileinput.min.css" /}
{css href="__ADMIN_PLUGINS__/fontawesome-free/css/all.min.css" /}
{css href="__ADMIN_PLUGINS__/icheck-bootstrap/icheck-bootstrap.min.css" /}
{css href="__ADMIN_PLUGINS__/select2-bootstrap4-theme/select2-bootstrap4.min.css" /}
{css href="__ADMIN_PLUGINS__/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" /}
{css href="__ADMIN_PLUGINS__/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" /}
{css href="__ADMIN_PLUGINS__/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" /}
{css href="__ADMIN_CSS__/adminlte.min.css" /}
{css href="__ADMIN_CSS__/admin.css" /}
