<!-- 左侧边栏 -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{:url('admin/index/index')}" class="brand-link">
        <img src="{$admin.base.logo|default='__ADMIN_IMAGES__/logo.png'}"
             alt="Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">{$admin.base.name|default='Admin'}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{$admin.user.avatar|default='__ADMIN_IMAGES__/avatar.png'}" class="img-circle elevation-2" alt="头像">
            </div>
            <div class="info">
                <a href="{:url('admin/admin_user/profile')}" class="d-block">{$admin.user.nickname|default='Admin User'}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                {$admin.left_menu|default=''|raw}

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>