<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <input type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>角色名</th>
                        <th>描述</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {foreach name='lists' item='list'}
                    <tr>
                        <td>
                            <input type="checkbox" onclick="check_this(this)" name="data-checkbox"
                                   data-id="{$list.id}" class="checkbox data-list-check" value="{$list.id}"
                                   placeholder="选择/取消">
                        </td>
                        <td>{$list.id}</td>
                        <td>{$list.name}</td>
                        <td>{$list.description}</td>
                        <td>{$list.status_text}</td>
                        <td class="td-do">
                            <a href="{:url('admin_group/access','id='.$list.id)}"
                               class="btn btn-warning btn-xs" title="授权">
                                <i class="fa fa-key"></i>
                            </a>
                            <a href="{:url('admin_group/edit','id='.$list.id)}"
                               class="btn btn-primary btn-xs" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a data-toggle="modal" data-target="#modal"
                               class="btn btn-danger btn-xs"
                               title="删除" onclick="del({$list.id})">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
    </div>
</div>