<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">
                    <div class="form-group" >
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="关键字">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-default" type="button">
                            <i class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>日志ID</th>
                        <th>错误消息</th>
                        <th>所在文件</th>
                        <th>所在行数</th>
                        <th>记录日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="list"}
                    <tr>
                        <td>{$list.id}</td>
                        <td class="td-log" title="{$list.message}">{$list.message}</td>
                        <td  class="td-log" title="{$list.file}">{$list.file}</td>
                        <td>{$list.line}</td>
                        <td>{$list.create_time}</td>
                        <td class="td-do">
                            <a data-toggle="modal" data-target="#modaltrace" onclick="view_trace('{$list.id}')" class="btn btn-default  btn-xs" title="查看trace" >
                                <i class="fa fa-eye"></i>
                            </a>
                            <div id="trace{$list.id}" class="hide-trace">
                                {$list->syslogTrace['trace']}
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
    </div>
</div>
<div  class="modal fade" id="modaltrace" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">trace</h4>
            </div>
            <div class="modal-body">
                <p id="modal_message"></p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"  type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<script>
    function view_trace(id) {
        var trace_content = $("#trace"+id).html();
        $("#modal_message").html(trace_content);
    }
</script>