<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">日志统计</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <!--error-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-red">
                            <span class="info-box-icon"><i class="fa fa-fw fa-times-circle"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">错误</span>
                                <span class="info-box-number">0</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: 0"></div>
                                </div>
                  <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <!--warnning-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="icon fa fa-warning"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">警告</span>
                                <span class="info-box-number">0</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: 0"></div>
                                </div>
                  <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-fw fa-info-circle"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">信息</span>
                                <span class="info-box-number">400</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                </div>
                                <span class="progress-description">70% Increase in 30 Days</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="fa fa-fw fa-bug"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">调试</span>
                                <span class="info-box-number">50</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: 30%"></div>
                                </div>
                                <span class="progress-description">
                                    70% Increase in 30 Days
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->


                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                {:token()}
                <a href="javascript:history.back(-1);" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i>
                    返回
                </a>
            </div>
        </div>
    </div>
</div>