<div class="box-header with-border">
    <h3 class="box-title">{$webData['title']|default=''}</h3>
    <div class="box-tools">
        <div class="btn-group pull-right" style="margin-right: 10px">
            <a href="index.html" class="btn flat btn-sm btn-default"><i
                    class="fa fa-list"></i>&nbsp;列表</a>
        </div>
        <div class="btn-group pull-right" style="margin-right: 10px">
            <a class="btn flat btn-sm btn-default form-history-back"><i class="fa fa-arrow-left"></i>&nbsp;返回</a>
        </div>
    </div>
</div>