<!--{__NOLAYOUT__}-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录 | 后台管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__STATIC__/css/app.min.css">
    <script src="__STATIC__/plugins/geetest/gt.js"></script>
    <script src="__STATIC__/js/app.min.js"></script>
    <script src="__PLUGINS__/layer/layer.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #embed-captcha {
            width: 300px;
            margin: 0 auto;
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
        .login-page{
            background-color: #ececec;
            background-image: url(/static/admin/images/background/{$bg_num}.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: 50% 50%;
            height: 100%;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a style="color: white;font-family: 'Microsoft Yahei'">后台登录</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="border-radius: 10px;">
        <p class="login-box-msg">欢迎来到后台管理系统</p>
        <form action="" method="post" class="dataForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <input id="name" maxlength="30" name="name" class="form-control" placeholder="帐号">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <input name="password" type="password" class="form-control" placeholder="密码">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div id="wait" class="alert alert-warning alert-dismissible show" style="padding: 8px;margin-bottom: 10px;">
                正在加载验证码...
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div id="embed-captcha"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input id="remember" name="remember" value="1" type="checkbox"> 记住我
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    {:token()}
                    <button type="submit" class="btn btn-primary btn-block btn-flat" id="login_button" disabled="disabled">登录</button>
                </div>
            </div>
        </form>
        <div class="social-auth-links">
            <a href="qqlogin.html" class="btn btn-primary"><i class="fa fa-qq"></i>QQ登录</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#user_name").focus();
    });

    var handlerEmbed = function (captchaObj) {

        $("#login_button").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                layer.msg('请先完成验证',{
                    icon:2
                });
                e.preventDefault();
            }
        });

        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#login_button").attr("disabled",false);
            $("#wait")[0].className = "hide";
        });
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        url: "get_geetest_status.html",
        type: "post",
        dataType: "json",
        success: function (data) {
            console.log(data);
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                new_captcha: data.new_captcha,
                product: "embed",
                offline: !data.success
            }, handlerEmbed);
        }
    });
</script>
</body>
</html>
<script>
    console.log('%c BUG？反馈->%c i@yufuping.com',';color:#1e90ff',';color:#070cfe');
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d740981d25ee4b445e195a1e4a37630b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>