
<div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-8">
        <input type="text" id="captcha" class=" form-control" name="captcha" placeholder="验证码" maxlength="6">
    </div>

    <div class="col-sm-4" style="padding-left: 0">
        <img style="width: 100%;max-width: 120px;" src="{:url('auth/captcha')}" alt="图形验证码" id="captchaImg" height="34" onclick="refreshCaptcha()">
    </div>
</div>

<script>

    function refreshCaptcha() {
        let $dom = $('#captchaImg');
        $dom.attr('src','{:url("admin/auth/captcha")}?'+img_name_random());
    }

    //图片后缀随机数
    function img_name_random() {
        let rand_one = parseInt(Math.random() * 100);
        let rand_two = parseInt(Math.random() * 100);
        return String(rand_one) + String(rand_two);
    }
</script>

