<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{$web_data['web_title']}</h3>
            </div>
            <form role="form" action="" enctype="multipart/form-data" method="post">
                <div class="box-body">
                    {if isset($info)}<input type="hidden" name="id" value="{$info.id}">{/if}
                    <div class="form-group">
                        <label for="user_name">用户名</label>
                        <input value="{$info.user_name|default=''}" name="user_name" placeholder="请输入用户名" type="text" id="user_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input value="{$info.password|default=''}" type="password" name="password" id="password" class="form-control" placeholder="请输入密码">
                    </div>
                </div>
                <!-- /.box-body -->
                {include file="template/action_footer" /}
            </form>
        </div>
    </div>
</div>